@font-face { /*Adicionando fonte*/
    font-family: 'Inter';
    src: url(./fontes/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body{
    background-color: #FFD014;
    font-family: 'Inter';
    color: white;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-top: 1%;
}

header img{
    width: 6%;
}

#cabecalhoOpcoes{
    display: flex;
    justify-content: center;
    width: 40%;
}

nav{
    gap: 5%;
}

header a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-size: 125%;
    font-weight: bold;
}

#menuUsuario{
    background-color: #FF7B00;
    padding: 0.5%;
    border-radius: 10px;
}

header a:hover{
    background-color: #FF8D0A;
    border-radius: 10px;
    box-shadow: 0 0 0 10px #FF8D0A;/*horizontal, vertical, desfoque, tamanho, cor*/
    transition: 0.5s;
}

#secaoInicialHome{
    display: flex;
    justify-content: space-evenly;
}

#secaoInicialHome p{
    font-size: 300%;
    text-align: start;
    font-weight: bold;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    width: 25%;
}

#secaoInicialHome img{
    width: 40%;
    height: 100%;
}

#secaoAnimeHome{
    background-color: rgb(255, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secaoAnimeHome img{
    width: 15%;
}

.botaoAnimeDesenho{
    width: 130px;
    transform: translate(10px,-120px);/*horizontal, vertical*/
    margin: -15px;
}

button{
    width: 200px;
    font-size: 150%;
    height: 10%;
    color: #FF7B00;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
}

#secaoDesenhoHome{
    background-color: rgb(253, 131, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secaoDesenhoHome img{
    width: 30%;
}

#secaoSobreHome{
    background: linear-gradient(90deg,#FF7B00 70%, black 30%);
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#secaoSobreTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secaoSobreTexto p{
    font-size: 200%;
    width: 60%;
    text-align: justify;
}

#secaoSobreHome img{
    margin-right: 16%;
    width: 25%;
    height: 100%;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
    border-radius: 100%;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer a{
    color: white;
    text-decoration: none;
    margin-bottom: 20%;
}

footer #footerMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #footerContato{
    display: flex;
    flex-direction: column;
}

footer img{
    height: 200px;
}