@font-face { /*Adicionando fonte*/
    font-family: 'Inter';
    src: url(../fontes/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body{
    background-image: url(./imagens/fundo.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /*Impede que o fundo fique centralizado no conteudo, impedindo de cobrir a tela toda ao redimensionar a tela*/
    font-family: 'Inter';
    color: black;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 1%;
    margin-bottom: 5%;
}

#placar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    font-weight: bold;
}

#tituloQuiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#tituloQuiz img{
    width: 8%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#iconeQuestao{
    background-color: #FFD400;
    border-radius: 100px;
}

h2{
    background-color: #FFD400;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 25%;
    margin-top: -1%;
}

.botaoRoxo{
    background-color: blueviolet;
    font-size: 150%;
    color: white;
    border: none;
    padding: 1%;
    border-radius: 10px;
    transition: 0.5s;
}

.botaoRoxo:hover{
    background-color: rgb(87, 27, 143);
}

#resultado{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    height: 25%;
    border-radius: 20px;
    transition: 0.5s;
}

#botaoPlay{
    transition: 0.5s;
    width: 8%;
}

#botaoPlay:hover{
    width: 6%;
    margin-top: 1%;
    margin-bottom: 1%;
}

header a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-size: 125%;
    font-weight: bold;
}

#menuUsuario{
    background-color: #FF7B00;
    padding: 0.5%;
    border-radius: 10px;
    z-index: 1;
}

#menuLateral{
    background-color: white;
    height: 100%;
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    color: black;
    padding-top: 2%;
}

nav{
    gap: 5%;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    background-color: #FF8D0A;
    border-radius: 10px;
    box-shadow: 0 0 0 10px #FF8D0A;/*horizontal, vertical, desfoque, tamanho, cor*/
    transition: 0.5s;
}

#iconeHome{
    width: 40%;
}

#opcoes{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.botao{
    font-size: 110%;
    padding-top: 3%;
    padding-bottom: 3%;
    transition: 0.5s;
}

.botao:hover{
    background-color: #878787;
}

