@font-face { /*Adicionando fonte*/
    font-family: 'Inter';
    src: url(../fontes/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body{
    background-image: url(./imagens/fundoAcessoUsuario.jpg);
    background-size: cover;
    background-attachment: fixed;/*tirou aquele espaço cinza, mas o que é isso?*/
    background-repeat: no-repeat;
    font-family: 'Inter';
}

#telaAcesso{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#ladoEsquerdo{
    background-color: #FFD014;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    left: 0; /*posicao Inicial*/
}

#ladoEsquerdoParte1{
    margin-bottom: 10%;
}

#ladoEsquerdo a{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#ladoEsquerdo .login{
    flex-direction: column;
}

#ladoEsquerdo .cadastro{
    flex-direction: column;
}

#ladoDireito{
    background-color: rgb(217, 217, 217, 0.5);
    backdrop-filter: blur(5px);
    padding-top: 1%;
    padding-bottom: 2%;
    width: 30%;
    position: relative;
    right: 0;  /*posicao Inicial*/
}

#ladoDireito .login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ladoDireito .cadastro{
    flex-direction: column;
    align-items: center;
}

#ladoDireito h1{
    margin-bottom: 15%; 
}

input{
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-bottom: 2px solid black;
    font-size: 130%;
    font-weight: bold;
    padding-left: 8%;
    margin-top: 10%;
}

input::placeholder{
    color: black;
}

input:focus { /*quando o input for selecionado*/
    outline: none; /* Remove a borda ao clicar */ 
    border-color: rgb(229, 0, 0);
    transition: 0.5s;
    border-width: 5px;
}

#inputNomeCadastro{
    background-image: url(./imagens/iconeUsuario.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#inputEmailLogin, #inputEmailCadastro{
    background-image: url(./imagens/iconeEmail.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#inputSenhaLogin, #inputSenhaCadastro{
    background-image: url(./imagens/iconeSenha.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#ladoDireito a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 5%;
}

#ladoDireito a:hover{
    text-decoration: underline;
}

#ladoDireito button{
    margin-top: 20%;
    background-color: #FF0000;
    color: white;
    border: none;
    font-size: 130%;
    font-weight: bold;
    width: 30%;
    height: 50px;
    cursor: pointer;
    transition: 0.5s;
}


#ladoDireito button:hover{
    background-color: #c22020;
}

#ladoDireito button:active{/*Ao clicar*/
    transform: scale(0.95);
}

#botaoVoltar{
    margin-left: 5%;
    width: 4%;
    height: 4%;
    transition: 0.5s;
}

#botaoVoltar:hover{
    width: 6%;
    height: 6%;
    transition: 0.5s
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}